@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Great projects start from great dreams! If you believe, 50% of your project is already accomplish.</p>

<address> <strong>More Information: </strong><a href="https://www.linkedin.com/in/magno-costa-933a6b5b" target="_blank" class="magnostyle">Linkedin Profile</a></address>

<style>
    .magnostyle {
        color: blue;
        font-size: 20px;
        font-family: monospace;
    }
</style>