@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    171 Franscisco Pereira Viana Street, Manejo <br />
    Resende, RJ Brazil<br />
    <abbr title="Phone">Phone:</abbr>
    +55 24 98150-8586
</address>

<address>
    <strong>Support:</strong> <a href="mailto:magno2006.diego@gmail.com">magno2006.diego@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:magno.costa44@gmail.com">magno.costa44@gmail.com</a>
</address>
